/* Add screen styles below */
a.active {
    font-weight: bold;
}
/*padding-left: 150px;*/
.group {

}

h3 {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    width: 170px;
    margin: 0px;
    padding: 0px;

}

.dropdown-toggle {
    background-color: white;
    border: 1px solid #cfcfcf;
}

.filter {
    padding-left: 5px;
    padding-right: 5px;
    
}

.nav-item {
    padding-left: 60px;
}

.nav-item {
    padding-left: 80px;
}

.navbar-custom {  
    background-color: white;
    margin-left: 180px;  
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 18px;
}

.print {
    padding-right: 48px;
}


.nav-pills .nav-link.active { background-color: #F8F7F4; border-radius: 30px;}

.nav-pills-custom .nav-link.active { background-color: #ffffff; border-radius: 30px; border: 1px solid #cfcfcf;}

li.borderless { border: 0 none; padding-bottom: 50px;}

.thumbnail {
    margin-bottom: 20px;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.username {
    width: 170px;
    padding-left: 12px;
    margin-right: 60px;
    padding-top: 4px;
}

.user {
    width: 34px;
    }

.heart {
    width: 28px;
}

.likes {
    width: 38px;
    padding-left: 5px;
    padding-top: 4px;
    margin-right: 12px;
    height: 10px;
}

.eye {
    width: 20px;
}

.views {
    width: 48px;
    padding-left: 5px;
    padding-top: 4px;
}
